config:
  credentials: []
  project_repos:
    codebase.helmholtz.cloud/m-team/oidc/oidc-agent:
      branch: master
      repo: https://codebase.helmholtz.cloud/m-team/oidc/oidc-agent/
    github.com/EOSC-synergy/sqaaas-tooling:
      branch: main
      repo: https://github.com/EOSC-synergy/sqaaas-tooling
environment:
  JPL_DOCKERFORCEBUILD: enabled
  JPL_KEEPGOING: enabled
sqa_criteria:
  QC.Acc:
    repos:
      codebase.helmholtz.cloud/m-team/oidc/oidc-agent git:
        commands:
        - /usr/bin/env sh .sqa/script.shaky-salmon-zonkey.sh
        container: qc.acc_hilly-mauve-collie
  QC.Doc:
    repos:
      codebase.helmholtz.cloud/m-team/oidc/oidc-agent find_doc_files.py:
        commands:
        - /usr/bin/env sh .sqa/script.cranky-wisteria-oriole.sh
        container: qc.doc_shabby-myrtle-rhinoceros
      codebase.helmholtz.cloud/m-team/oidc/oidc-agent git:
        commands:
        - /usr/bin/env sh .sqa/script.stuffy-grey-dachshund.sh
        container: qc.doc_gummy-lime-alligator
      codebase.helmholtz.cloud/m-team/oidc/oidc-agent markdownlint:
        commands:
        - /usr/bin/env sh .sqa/script.droopy-olivine-tarsier.sh
        container: qc.doc_stinky-pear-cockroach
  QC.Lic:
    repos:
      codebase.helmholtz.cloud/m-team/oidc/oidc-agent licensee:
        commands:
        - /usr/bin/env sh .sqa/script.leaky-pink-opossum.sh
        container: qc.lic_hilly-viridian-bobcat
  QC.Met:
    repos:
      codebase.helmholtz.cloud/m-team/oidc/oidc-agent cff-converter-python:
        commands:
        - /usr/bin/env sh .sqa/script.goopy-wheat-llama.sh
        container: qc.met_hasty-chestnut-drever
  QC.Sty:
    repos:
      codebase.helmholtz.cloud/m-team/oidc/oidc-agent jsonlint:
        commands:
        - /usr/bin/env sh .sqa/script.shaggy-razzmatazz-cockroach.sh
        container: qc.sty_shaky-olivine-goat
      codebase.helmholtz.cloud/m-team/oidc/oidc-agent oclint:
        commands:
        - /usr/bin/env sh .sqa/script.sleepy-turquoise-owl.sh
        container: qc.sty_surly-azure-horse
  QC.Ver:
    repos:
      codebase.helmholtz.cloud/m-team/oidc/oidc-agent get_git_tags.py:
        commands:
        - /usr/bin/env sh .sqa/script.homey-bistre-skunk.sh
        container: qc.ver_stuffy-red-warthog
timeout: 5400
